<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <link rel="shortcut icon" href="https://use.typekit.net/eeq8vwp.css">
    <title>{% block title %}Casting Agency{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar container is-fluid" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href='/'>
            Home
          </a>
              <a id="movies" class="navbar-item disabled" href="{{ url_for('get_movies')}}">
                Movies
              </a>
              <a href="{{ url_for('get_actors')}}" id="actors" class="navbar-item">
                Actors
              </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="navbar-item has-dropdown is-hoverable is-centered">
              <a class="navbar-link is-arrowless">
                <span class="icon is-medium">
                  <span class="fa-stack">
                    <ion-icon class='is-large' name="person-circle-outline"></ion-icon>
                  </span>
                </span>
              </a>
              <!-- <div class="navbar-dropdown dropdown-menu3">
                <div class="buttons">
                  <a class="button is-light">
                    <strong>Sign up</strong>
                  </a>
                </div>
                <hr class="navbar-divider">
                <div class="navbar-item">
                  <a  
                  id="btn-login"
                  href="https://dev-ys0-cxsi.us.auth0.com/authorize?audience=casting-agency&response_type=token&client_id=Er4ULFDP3EJpPh3Ds6Pu1kgNGN6yI2mz&redirect_uri=http://127.0.0.1:5000/" -->
                  <!-- class="button is-primary">
                  Log in
                </a>
                </div>
              </div> 
            </div> -->
            <!-- <ul class="nav navbar-nav">
              <li>
                {% if (request.endpoint == 'movies') or
                  (request.endpoint == 'search_movies') or
                  (request.endpoint == 'show_movies') %}
                <form class="search" method="post" action="/movies/search">
                  <input class="form-control"
                    type="text"
                    name="search_term"
                    placeholder="Find a movie"
                    aria-label="Search">
                </form>
                {% endif %}
                {% if (request.endpoint == 'actors') or
                  (request.endpoint == 'search_actors') or
                  (request.endpoint == 'show_actors') %}
                <form class="search" method="post" action="/actors/search">
                  <input class="form-control"
                    type="search"
                    name="search_term"
                    placeholder="Find an actors or actresses"
                    aria-label="Search">
                </form>
                {% endif %}
              </li> -->
              <!-- </ul> -->
            <div class="buttons">
              <a class="button is-primary" id="logout" disabled="true">
                <strong>Log out</strong>
              </a>
              <a  
              id="login"
              class="button is-primary">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  <!-- </div>  -->
  {% block content %}
    <section class='section'>
      <div class="container is-fluid hidden" id="gated-content"">
      <h1 class="title">Movies</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
<div class="columns">
  <div class="column m-2 p-4">
    <div class="card is-3">
      <div class="card-image">
        <figure class="image is-4by5">
        <img src="https://m.media-amazon.com/images/M/MV5BMTg1MTY2MjYzNV5BMl5BanBnXkFtZTgwMTc4NTMwNDI@._V1_.jpg" alt="movie-poster">
      </figure>
      </div>
    </div>
    <div class="media-content">
      <p class="title is-6 has-text-centered pt-4">Black Panther</p>
    </div>

  </div>
  <div class="column">
    <div class="card is-3">
      <div class="card-image">
        <figure class="image is-4by5">
        <img src="https://m.media-amazon.com/images/M/MV5BMTg1MTY2MjYzNV5BMl5BanBnXkFtZTgwMTc4NTMwNDI@._V1_.jpg" alt="movie-poster">
      </figure>
      </div>
    </div>
    <div class="media-content">
      <p class="title pt-4 is-6 has-text-centered">Black Panther</p>
    </div>

  </div>
  <div class="column">
    <div class="card is-3">
      <div class="card-image">
        <figure class="image is-4by5">
        <img src="https://m.media-amazon.com/images/M/MV5BMTg1MTY2MjYzNV5BMl5BanBnXkFtZTgwMTc4NTMwNDI@._V1_.jpg" alt="movie-poster">
      </figure>
      </div>
    </div>
    <div class="media-content">
      <p class="title pt-4 is-6 has-text-centered">Black Panther</p>
    </div>

  </div>
  <div class="column">
    <div class="card is-3">
      <div class="card-image">
        <figure class="image is-4by5">
        <img src="https://m.media-amazon.com/images/M/MV5BMTg1MTY2MjYzNV5BMl5BanBnXkFtZTgwMTc4NTMwNDI@._V1_.jpg" alt="movie-poster">
      </figure>
      </div>
    </div>
    <div class="media-content">
      <p class="title is-6 has-text-centered pt-4">Black Panther</p>
    </div>
  </div>


  <div class="column">
    <div class="card is-3">
      <div class="card-image">
        <figure class="image is-4by5">
        <img src="https://m.media-amazon.com/images/M/MV5BMTg1MTY2MjYzNV5BMl5BanBnXkFtZTgwMTc4NTMwNDI@._V1_.jpg" alt="movie-poster">
      </figure>
      </div>
    </div>
    <div class="media-content">
      <p class="title is-6 has-text-centered pt-4">Black Panther</p>
    </div>
  </div>
  </div>
</div>
</div>
  <section class="section">
    <div class="container is-fluid">
      <h1 class="title">Actors</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
    </div>
  </section>
  {% endblock %}
  {% block footer %}
  <footer class="footer is-primary">
    <div class="has-text-centered">
      <p>&copy</p>
    </div>
  </footer>
  {% endblock %}
  
    </section>
    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.9/auth0-spa-js.production.js"></script> 
    <script type="text/javascript" src="/static/js/app.js" defer></script>
    <script type="text/javascript" src="/static/js/auth0.js" defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- <script>
      window.onload = function(){
      const login = document.getElementById('login');
      let link = 'https://';
      const domain = 'dev-ys0-cxsi.us.auth0';
      const audience = 'casting-agency';
      const response = 'token'
      const client_id = 'Er4ULFDP3EJpPh3Ds6Pu1kgNGN6yI2mz'
      const redirect_uri = 'http://localhost:5000/'
      link += domain + '/authorize?';
      link += 'audience=' + audience + '&';
      link += 'response_type=' + response + '&';
      link += 'client_id=' + client_id + '&';
      link += 'redirect_uri=' + redirect_uri;
      login.href = link;
      
    }
  
  </script> -->
  </body>
</html>
