{% extends 'layouts/home.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
<section class="section">
    <h3>Movie title {{movie.title }} </h3>
    <div class="form-wrapper">
        <form class="form" action="/movies/{{movie.id}}" method='post'>
          <h3 class="form-heading">Edit Movie <em>{{ movie.title }}</em></h3>
          <div class="form-group">
            <label for="name">Title</label>
            {{ form.title(class_ = 'form-control', autofocus = true) }}
          </div>
          <div class="form-group">
              <label>Description</label>
                <div class="form-group">
                  {{ form.description(class_ = 'form-control', placeholder='Description', autofocus = true) }}
                </div>
              </div>
          </div>
          <div class="form-group">
            {{ form.release_date(class_ = 'form-control', placeholder='02/09/2020', autofocus = true) }}
          </div>
          <div class="form-group">
              <label for="phone">Image Link</label>
              {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
         </div>
         <input type='submit' id="edit-movie"> 
            
</section> 

{% endblock %}