<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link rel="shortcut icon" href="https://use.typekit.net/eeq8vwp.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
  </head>
  <body>
    <section class="hero actor-img is-fullheight">
        <!-- <img src="/static/assets/actor-background-img.jpg"> -->
      <div class="columns form-columns">
        <div class="column img-bg"></div>
        <div class="column">
          <div class="field">
            <form method="POST">
              <h3 class="has-text-weight-bold">Add Actor | Actress</h3>
              <div class="field">
                <div class="control">
                  <div class="form-field">
                    <label for='name' class="label">Name</label>
                    {{ form.name(class_ = 'form-control', placeholder='Name', autofocus = true) }}
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <div class="form-field">
                    <label for='age' class="label">Age</label>
                    {{ form.age(class_ = 'form-control', placeholder='How old?', autofocus = true) }}
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <div class="form-field">
                    <label for='gender' class="label">gender</label>
                    {{ form.gender(class_ = 'form-control', placeholder='', autofocus = true) }}
                  </div>
                </div>
              </div>  
              <div class="field">
                <div class="control">
                  <div class="form-field">
                    <label for='image' class="label">Image Link</label>
                    {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
                  </div>
                </div>
              </div>
              <input type='submit' value='Create Models'>

              <!-- <div class="field">
                <label for="age" class="label">Age</label>
                <div class="control">
                  <input
                    id="age"
                    class="input"
                    type="number"
                  />
                </div>
              </div>

              <div class="control">
                <label class="radio">
                  <input type="radio" name="answer" id="gender">
                  Male
                </label>
                <label class="radio">
                  <input type="radio" name="answer" id="gender">
                  Female
                </label>
              </div>
              <div class="field">
                <label for="image_link">Image Link</label>
                <div class="control">
                  <input
                    id="image_link"
                    class="input"
                    type="url"
                    placeholder="http://"
                  />
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" id="submit-actor">
                    Submit
                  </button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">Cancel</button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="/static/js/app.js"></script>
  </body>
</html>
